@inherits LayoutComponentBase

<main style="margin-left: auto; margin-right: auto; max-width: 60ch; text-align: center">
    @Body
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
