@page "/"

<PageTitle>PubSub using Channels</PageTitle>

<h1>PubSub using Channels</h1>

<div style="margin-top: 2rem; display: grid">
    <a href="/producing">Producing Messages from Background/Hosted-Service</a>
    <a href="/consuming">Producing Messages from Front/Blazor-Page</a>
</div>

